.card-container{
    max-width: 350px;
    padding: 40px 40px;
}
.empty{
  margin-top: 12%;
}

#Title {
    color: rgb(104, 145, 162);
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    padding: 20px 25px 30px;
    margin: 20% auto 25px;
}
/*
 * Form styles
 */
.sign-in #email,
.sign-in #password {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.sign-in input[type=email],
.sign-in input[type=password],
.sign-in button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.sign-in .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    /*box shadow*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-sign-in {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
}

.btn.btn-sign-in:hover,
.btn.btn-sign-in:active,
.btn.btn-sign-in:focus {
    background-color: rgb(12, 97, 33);
}

.register {
    color: rgb(104, 145, 162);
}

.passIcon-login{
    position: relative;

    height: 55px;

}

.icon-login{
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px;
}
