.card-container.card{
    max-width: 350px;
    padding: 40px 40px;
}

#Title {
    color: rgb(104, 145, 162);;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20%;
}
/*
 * Form styles
 */

.form-signup #inputEmail,
.form-signup #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signup input[type=email],
.form-signup input[type=password],
.form-signup button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.form-signup .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    /*box shadow*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signup {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
}
.btn.btn-signup:hover,
.btn.btn-signup:active,
.btn.btn-signup:focus {
    background-color: rgb(12, 97, 33);
}
.login {
    color: rgb(104, 145, 162);
}

.passIcon{
    position: relative;
    height: 50px;
}

.icon{
    position: absolute;
    left: auto;
    right: 10px;
    text-indent: 32px;
    top: 10px;
}


