.title1 {
    text-align: left;
    color: rgb(104, 145, 162);
    margin-top: 0px;
    float: left;
    clear: both;
}

.title2 {
    text-align: left;
    color: #FF9D00;
    margin-top: 0px;
    float: left;
    clear: both;
}

.align-center {
    display: flex;
    justify-content: center;
}

.btn.btn-send {
    background-color: rgb(104, 145, 162);
    color: white;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
}

.btn.btn-send:hover,
.btn.btn-send:active,
.btn.btn-send:focus {
    background-color: rgb(12, 97, 33);
    color: black;
}

.message{
    color: black;
}

.btn.btn-leave {
    background-color: rgb(104, 145, 162);
    color: white;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    width: 100px;
}

.btn.btn-leave:hover,
.btn.btn-leave:active,
.btn.btn-leave:focus {
    background-color: rgb(12, 97, 33);
    color: black;
}

.card {
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
    max-width: 350px;
    ;
}


